.Home{
    display: flex;
    align-items: center;
    height: 75vh;
}

.planet{

   border-radius: 100%;
    transform: scale(60%);
    border: 5px solid oldlace;
   
}



.planet:hover{
    
  /* padding: px; */
  background-color: green;
  transition: transform 20s; /* Animation */
  transform: scale(50%) rotate(180deg);
  margin: 0 auto;
}





.h-left{
    position: relative;
    /* padding-left: 5rem; */
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
}

.intro{
    display: flex;
   
     align-items: center;
    justify-content: center; 
    flex-direction: column;
    
}

.space-intro{
    font-size: 3rem;
    align-items: baseline;
    position: absolute;
    top:-80%

}

.name-intro{
    position: relative;

    left:45%;
    font-size: 1.7rem;
}

.tagline-intro{
    position: relative;
    left: 30%;
    font-size: 1.5rem;
    color: gray;
  
}

.tagline-intro h4{
    background: white;
    border-radius: 10px;
    padding-left: 4px;
   
}

.tagline-intro h4:hover{
    -webkit-box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
    -moz-box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
    box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
}

.overview{
    display: flex;
    flex-direction: column;
    position: absolute ;
    top:110%;
    left:10%;
}

.h-overview{
    font-size: 1.3rem;
}


.d-overview{
    padding-left: 10%;
}

@media screen and (max-width: 768px){

    .Home{
        display:flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .planet{
       transform: scale(40%);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20%;
        left: -35%;
    }

    .space-intro{
        display:flex;
        align-items: center;
        justify-content: center;
        top:-250%;
    }

    .name-intro{
        display:flex;
        align-items: center;
        justify-content: center;
        top:20%;
        left:5%;
        font-size: 1rem;
    }

    .tagline-intro{
        font-size: 0.8rem;
    }

    .overview{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
